@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    * {
        @apply text-black dark:text-white;
    }

    html,
    body {
        @apply min-h-screen;
    }

    select,
    option,
    [popover] {
        @apply bg-white dark:bg-black;
    }

    p {
        @apply text-base;
    }

    h6 {
        @apply text-lg;
    }

    h5 {
        @apply text-xl;
    }

    h4 {
        @apply text-2xl;
    }

    h3 {
        @apply text-3xl;
    }

    h2 {
        @apply text-4xl;
    }

    h1 {
        @apply text-5xl;
    }
}
